.cart-items {
    width: 70%;
}

.shopping-cart h1 {
    text-align: center;
}

.shopping-cart {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.cart-summary {
    width: 15%;
}