<div class="home">
    <div class="filter-container">
        <h2>Filter</h2>
        <input type="text" placeholder="Search by category" class="search-box" [(ngModel)]="searchCategory">
        <input type="text" placeholder="Search by name" class="search-box" [(ngModel)]="searchName">
    </div>
    <div class="products-container">
        @if(isLoading()){
            <div class="loading-spinner">
                <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
            </div>    
        }
        @else{
            @for (product of filteredProducts; track product) {
                <app-product [product]="product"></app-product>
            }
        }
    </div>
</div>