.filter-container {
    width: 20%;
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-container {
    width: 75%;
    float: right;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ededed;
}

.filter-container h2{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.search-box{
    padding: 10px;
    border-radius: 5px;
}