:host {
    border-radius: 10px;
    margin: 24px;
    width: 320px;
    position: relative;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
}

.product-image-container {
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.product-link-overlay {
    text-decoration: none;
    color: inherit;
}

.product-title {
    margin: 10px;
    font-weight: normal;
}

.product-price {
    margin: 10px;
    font-weight: bold;
}

.product-actions {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.add-to-cart-btn {
    border: 2px solid var(--primary-color);
    margin-bottom: 5px;
}