* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
    vertical-align: middle !important;
}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

main {
    padding: 5rem 1rem;
}

.actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.login-btn{
    color: white !important;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.login-btn:hover{
    border-color: red;
}

.shopping-cart-btn{
    padding-top: 5px;
}